[build]
  publish = "."
  command = "npm install && npx prisma generate"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/sync-data/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
